*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
    height: 100%;
}
a:hover{
    color: inherit;
    text-decoration: inherit;
}
input{
    border: inherit;
    background-color: inherit;
}
.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header{
    margin-top: 32px;
    font-family: 'Oswald', sans-serif;
}
.logo{
    width: 225px;
    height: 79px;
    background-color: #da5550;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 795px;
    bottom: 0px;
}
.logo-img{
    width: 175px;
    margin-top: 7px;
}
.header-social{
    display: flex;
    justify-content: end;
    position: absolute;
    top: -25px;
    right: 5px;
}
.social-icon{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
.icon-social{
    color: #ec5f5f;
}
.header-menu{
    display: flex;
    gap: 16px;
    justify-content: end;
    background-color: #ec5f5f;
    height: 57px;
}
.menu-area{
    position: relative;
}
.menu-item{
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
.menu-item:hover {
    background-color: #ef7474;
}
.menu-search-bar{
    position: relative;
    display: flex;
    align-items: center;
}
.search-bar{
    background-color: #e7e5e5;
    width: 160px;
    height: 28px;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px solid #b6b5b5;
}
.search-icon{
    position: absolute;
    right: 5px;
    top: 15px;
}
.icon-search{
    color: #b6b5b5;
}

/* NAVIGATION */

.sticky-nav{
    position: fixed;
    top: 0px;
    width: 100%;
}
.sticky-nav + main{
    padding-top: 40px;
}
.navigation{
    height: 40px;
    background-color: #504f4f;
    display: flex;
    gap: 8px;
    align-items: center;
}
.navigation-home{
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 4px;
    font-size: 20px;
    background-color: #646464;
}
.navigation-link{
    height: 100%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    display: flex;
    gap: 8px;
}
.navigation-item{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    height: 100%;
}
.navigation-item:hover {
    background-color: #646464;
}

/* FOOTER */

footer{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 52px;
}
.footer-nav{
    height: 36px;
    background-color: #504f4f;
}
.footer-nav-container{
    display: flex;
    gap: 24px;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.footer-nav-item{
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
.footer-main{
    background-color: #747373;
    padding-bottom: 24px;
}
.footer-main-logo{
    padding-top: 14px;
    margin-bottom: 21px;
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.footer-logo{
    width: 100px;
    height: 49px;
}
.footer-content{
    display: flex;
    gap: 10px;
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.footer-subcontent{
    width: 330px;
    color: #b6b5b5;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
}
.footer-maincontent{
    width: 315px;
    display: flex;
    gap: 9px;
}
.footer-wall{
    background-color: #b6b5b5;
    width: 1px;
    height: 100px;
}
.maincontent-text{
    color: #b6b5b5;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
}
.footer-title{
    font-size: 13px;
    color: white;
}
.footer-link{
    color: #db760f;
}
.footer-link:hover{
    color: #db760f;
}
.footer-focus{
    color: #db760f;
}
.footer-underlined{
    text-decoration: underline;
}

/* HEAD ADVERT */

main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.head-advert-container{
    width: 980px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* ADVERT SECTION */

.advert-section{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.advert-item-small{
    width: 300px;
    height: 250px;
}
.advert-item-large{
    width: 300px;
    height: 600px;
}
.ad-sticky{
    position: sticky;
    top: 32px;
}

/* MAIN SECTION */

.main-container{
    display: flex;
    gap: 10px;
}

/* FEATURED SECTION*/

.featured-section{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}
.featured-card{
    position: relative;
}
.featured-large{
    width: 400px;
    height: 262px;
}
.featured-medium{
    width: 278px;
    height: 262px;
}
.featured-small{
    width: 400px;
    height: 163px;
}
.featured-exsmall{
    width: 278px;
    height: 163px;
}
.featured-img{
    width: 100%;
}
.featured-title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-shadow: black 1px 1px 0px;
}
.first-text{
    background-image: linear-gradient(to top, #e34c4b, rgba(0, 0, 0, 0));
    font-size: 21px;
}
.second-text{
    font-size: 18px;
    background-image: linear-gradient(to top, #259f15, rgba(0, 0, 0, 0));
}
.third-text{
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
    font-size: 17px;
}

/* SECONDARY SECTION */

.secondary-section{
    display: flex;
    gap: 13px;
    align-items: flex-start;
}

/* LISTED SECTION */

.listed-section{
    width: 400px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: center;
}
.listed-card{
    width: 192px;
    height: 201px;
}
.listed-img{
    width: 100%;
}
.listed-title{
    font-size: 13px;
    color: #000000;
    padding-left: 2px;
    font-weight: bold;
    transition: 0.2s;
}
.listed-title:hover{
    color: #ed4848;
}

/* SIDE SECTION */

.side-section{
    width: 278px;
}
.recommend-section{
    border-radius: 3px;
    border: 1px solid #e4e3e3;
    overflow: hidden;
}
.recommend-heading{
    color: #8c8d8c;
    font-size: 13px;
    font-weight: bold;
    background-color: #dedede;
    height: 33px;
    padding-left: 15px;
    padding-top: 8px;
}
.recommend-container{
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    background-color: #efefef;
}
.recommend-card{
    width: 256px;
    margin-right: auto;
    margin-left: auto;
}
.recommend-content{
    display: flex;
    gap: 10px;
}
.recommend-img{
    width: 80px;
    height: 52px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #d3d1d1;
}
.recommend-title{
    color: #636463;
    font-size: 12px;
    font-weight: 700;
    width: 166px;
}
.recommend-wall{
    height: 1px;
    width: 256px;
    background-color: #d3d1d1;
    margin-left: auto;
    margin-right: auto;
}

.magazine-heading{
    background-color: #585858;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 33px;
    text-align: center;
    padding-top: 8px;
}